.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px 0 25px 0;
  min-width: 1278px;
  button {
    background-color: transparent;
    border: none;
    outline: none;
    color: #474955;

    cursor: pointer;

    &.direction {
      font-size: 24px;
      font-weight: 500;

    }

    &.number {
      font-size: 18px;
      font-style: italic;
      font-weight: 700;

    }

    &.active {
      color: #7ebc3c;
    }

    &:disabled {
      opacity: 0.65;
      pointer-events: none;
    }

    &:active {
      transform: scale(0.9);
    }
  }

}